@import "bootstrap.min.scss";

$textFont: 'freight-text-pro', 'Palatino', 'Liberation Serif', serif;
$altFont: 'freight-sans-pro', 'Helvetica Neue', 'Liberation Sans', 'Arial', sans-serif;
$paperColor: #fcfaf8;
$textColor: darken($paperColor, 70%);

textarea {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size:16px;
}

textarea.long {
  height: 24em;
}

.center-row td {
  vertical-align: middle;
}

#preview {
  font-family: $textFont;
  font-size: 18px; // Not kosher, but necessary
  margin: auto;
  line-height: 1.414;
  max-width: 36em;
  min-width: 28em;
  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  -moz-font-feature-settings:"kern" 1, "liga" 1;
  -ms-font-feature-settings:"kern" 1, "liga" 1;
  -o-font-feature-settings:"kern" 1, "liga" 1;
  -webkit-font-feature-settings:"kern" 1, "liga" 1;
  font-feature-settings:"kern" 1, "liga" 1;
  @import "cnq-include.scss";
}

footer.preview {
  margin: 2em auto;
  border-top: 1px solid #999;
  padding-top: 1em;
  text-align: center;
}

header.preview {
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $paperColor;
  background-color: $textColor;
  margin-bottom: 2.5em;
  border-radius: 3px;
}

li.draggable {
  margin-left: -1.5em;
  margin-bottom: 3px;
  list-style-type: none;
  text-indent: 0;
  padding: 3px;
  border-radius: 3px;
  background-color: darken($paperColor, 5%);
  border: 1px solid darken($paperColor, 10%);
  cursor: move;
}

li.end {
  background-color: $textColor;
  color: $paperColor;
}

#toc, #unassigned {
  min-height: 10ex;
}

#changectrls {
  display: none;
  width: auto;
}

.buttonfix {
  margin-top: -10px;
  margin-left: 1em;
}
