@import "bootstrap.min.scss";

textarea {
  font-family:Inconsolata, Consolas, Menlo, 'Source Code Pro', monospace;
  font-size:16px;
}

textarea.long {
  height: 24em;
}

td {
  vertical-align: middle;
}
