@import "bootstrap.min.scss";

$textFont: 'freight-text-pro', 'Palatino', 'Liberation Serif', serif;
$altFont: 'freight-sans-pro', 'Helvetica Neue', 'Liberation Sans', 'Arial', sans-serif;
$textColor: black;
$paperColor: white;

textarea {
  font-family:Inconsolata, Consolas, Menlo, 'Source Code Pro', monospace;
  font-size:16px;
}

textarea.long {
  height: 24em;
}

td {
  vertical-align: middle;
}

#preview {
  font-family: $textFont;
  font-size: 17px; // Not kosher, but necessary
  margin: auto;
  line-height: 1.327em;
  max-width: 36em;
  min-width: 28em;
  @import "cnq-include.scss";
}

footer.preview {
  margin: 2em auto;
  border-top: 1px solid #999;
  padding-top: 1em;
  text-align: center;
}

header.preview {
  padding-bottom: 1em;
  border-bottom: 1px solid #999;
  margin-bottom: 2em;
  text-align: center;
  font-weight: bold;
  font-size: 120%;
}
