a {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  transition: all 0.8s ease;
  &:link, &:visited {
    text-decoration: none;
    color: scale-color($textColor, $blue: 80%);
    background-color: scale-color($paperColor, $lightness: -3%);
    border-radius: 3px;
  }
  &:hover {
    background-color: scale-color($paperColor, $blue: 30%, $red: -15%, $green: -15%);
    color: blue;
  }
}
a[href^=mailto], a[href*="twitter.com"], .excerpt *, .nohyphen {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
}

header {
  margin: 0;
}

nav {
  ul {
    list-style-type: none;
    font-family: $altFont;
    text-align: center;
    margin: auto;
    margin-bottom: 2.5em;
    padding: 0;
    li {
      display: inline;
      font-size: 0.884em;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  a {
    padding: 2px 6px 1px;
    margin: auto 3px;
    &:link, &:visited {
      color: lighten($textColor, 25%);
      border: 1px solid lighten($textColor, 50%);
      background-color: transparent;
    }
    &:hover {
      color: #00C;
      background-color: white;
      border-color: #00C;
    }
  }
}

h1, h2, h3, .catstamp, .author {
  font-family: $altFont;
}

h1, h2 {
  text-rendering: optimizeLegibility;
}

article {
  p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
  }
  h1 {
    font-size: 1.768em;
    line-height: 1em;
    text-align: center;
    margin-bottom: 0.25em;
  }
  h2 {
    margin-top: 1.414em;
    line-height: 1em;
    font-size: 1.06em;
  }
  aside {
    width: 50%;
    float: right;
    font-family: $altFont;
    font-size: 1.414em;
    line-height: 1.414em;
    border-top: 1px solid $textColor;
    border-bottom: 1px solid $textColor;
    margin-left: 1.414em;
    margin-right: -0.884em;
    padding: 0.313em;
    margin-bottom: 0.313em;
    margin-top: 0.313em;
    &.aboutbox {
      font-size: 0.884em;
      line-height: 1.414em;
      width: 45%;
      margin-top: 1em;
      background-color: darken($paperColor, 3%);
      border: 1px solid $textColor;
      padding: 0.313em 0.625em;
      a {
        background-color: scale-color($paperColor, $lightness: -4%);
      }
    }
    &.left {
      float: left;
      margin-left: -0.884em;
      margin-right: 1.414em;
    }
  }
  .excerpt {
    font-style: italic;
    margin: 0 auto 2.5em;
    width: 90%;
    border-top: 1px solid $textColor;
    border-bottom: 1px solid $textColor;
    i, em {
      font-style: normal;
      font-weight: 700;
    }
  }
  .subhead {
    font-family: $altFont;
    text-align: center;
    margin-top: 0;
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 0.25em;
  }
  .author {
    margin-top: 0.5em;
    text-align: center;
    margin-bottom: 1.25em;
    font-size: 1.25em;
  }
  .category {
    font-family: $altFont;
    text-transform: uppercase;
    font-size: 0.884em;
    margin-bottom: 2.5em;
    span {
      font-weight: 700;
    }
    time {
      float: right;
    }
  }
  label {
    font-family: $altFont;
    font-size: 0.884em;
    font-weight: 700;
  }
}

article.page {
  h1 {
    text-align: left;
    margin-bottom: 0.884em;
  }
}

#footnotediv {
  background-color: $paperColor;
  padding: 0.442em 0.707em;
  border: 1px solid darken($paperColor, 30%);
  border-radius: 10px;
  box-shadow: #666 0 0 8px;
  a.footnote-backref {
    display: none;
  }
}
