/* http://modularscale.com/scale/?px1=17&px2=544&ra1=1.5&ra2=0 */
/* http://modularscale.com/scale/?px1=18&px2=45&ra1=1.414&ra2=0 */

@import "normalize.scss";

$paperColor: #FCFAF8;
$textColor: darken($paperColor, 70%);
$textFont: 'freight-text-pro', 'Palatino', 'Liberation Serif', serif;
$altFont: 'freight-sans-pro', 'Helvetica Neue', 'Liberation Sans', 'Arial', sans-serif;

html {
  background-color: $paperColor;
}

body {
	font-family: $textFont;
	font-size: 100%;
  font-size: 1.125em;
  margin: 5em;
	color: $textColor;
	background-color: $paperColor;
	line-height: 1.414;
  -moz-font-feature-settings:"kern" 1, "liga" 1;
  -ms-font-feature-settings:"kern" 1, "liga" 1;
  -o-font-feature-settings:"kern" 1, "liga" 1;
  -webkit-font-feature-settings:"kern" 1, "liga" 1;
  font-feature-settings:"kern" 1, "liga" 1;
}

#content {
	max-width: 36em;
	min-width: 28em;
	margin: auto;
}

div.alert {
  font-family: $altFont;
  font-size: 0.884em;
  border: $textColor 1px solid;
  background-color: darken($paperColor, 10%);
  padding: 0.313em 0.884em;
}

div.error {
    color: scale-color($textColor, $red: 60%);
    border-color: scale-color($textColor, $red: 60%);
  }

@import "cnq-include.scss";

/* Phone Overrides */
@media only screen and (max-device-width: 568px) {
	body {
		margin: 48px 24px;
	}

  img { max-width: 100%; }

	#content {
		max-width: 32em;
		min-width: 0;
	}

	.pithy {
		width: 100% !important;
	}

	article aside {
		float: none;
		width: 100% !important;
		margin-left: inherit !important;
	}
}

/* Tablet Overrides */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#content {
		max-width: 39em;
	}
}
