/* http://modularscale.com/scale/?px1=18&px2=45&ra1=1.414&ra2=0 */

@import "normalize.scss";

$paperColor: #FCFAF8;
$textColor: darken($paperColor, 70%);
$textFont: 'freight-text-pro', 'Palatino', 'Liberation Serif', serif;
$altFont: 'freight-sans-pro', 'Helvetica Neue', 'Liberation Sans', 'Arial', sans-serif;
$linkColor: scale-color($textColor, $blue: 50%);

html {
  background-color: $paperColor;
}

body {
	font-family: $textFont;
	font-size: 100%;
  font-size: 1.125em;
  margin: 5em;
	color: $textColor;
	background-color: $paperColor;
	line-height: 1.414;
  -moz-font-feature-settings:"kern" 1, "liga" 1;
  -ms-font-feature-settings:"kern" 1, "liga" 1;
  -o-font-feature-settings:"kern" 1, "liga" 1;
  -webkit-font-feature-settings:"kern" 1, "liga" 1;
  font-feature-settings:"kern" 1, "liga" 1;
}

#content {
	max-width: 36em;
	min-width: 28em;
	margin: auto;
}

div.alert {
  font-family: $altFont;
  font-size: 0.884em;
  border: $textColor 1px solid;
  background-color: darken($paperColor, 10%);
  padding: 0.313em 0.884em;
}

div.error {
    color: scale-color($textColor, $red: 60%);
    border-color: scale-color($textColor, $red: 60%);
  }

#header {
  height: 90px;
  border-bottom: 1px $textColor solid;
  margin-bottom: 2.5em;
  clear: both;
  div {
    float: right;
  }
  img {
    width: 302px;
    height: 86px;
  }
  h1 {
    padding-top: 37px;
    font-weight: normal;
    font-size: 1.25em;
    line-height: 1.25em;
    text-align: left;
    width: 100%;
  }
}

@import "cnq-include.scss";

article.toc {
  h1 {
    font-family: $altFont;
    font-weight: 700;
    // text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
    font-size: 1.25em;
  }
  h2 {
    margin-bottom: 0;
    line-height: 1.414em;
  }
  .author {
    font-size: inherit;
    font-weight: normal;
  }
  p {
    margin-top: 0.5em;
  }
  ul {
    margin-left: 0.884em;
    padding-left: 0;
    margin-top: 0.25em;
  }
  ul li {
    display: inline;
    list-style-type: none;
    font-family: $altFont;
    font-size: 0.884em;
    font-weight: normal;
    &:before {
      content: '§ ';
    }
  }
}

article.author {
  font-family: $textFont;
  h1 {
    text-align: left;
    font-size: 1.414em;
  }
}

.pull-right {
  float: right;
}

footer.toc {
  border-top: 1px solid $textColor;
  padding-top: 1em;
  p {
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    font-size: 0.884em;
    font-weight: bold;
  }
}

/* Phone Overrides */
@media only screen and (max-device-width: 568px) {
	body {
		margin: 48px 24px;
	}

  img { max-width: 100%; }

  #header {
    height: auto;
    margin-bottom: 1em;
    div {
      float: none;
      text-align: center;
      margin: 0;
    }
    h1 {
      padding-top: auto;
      font-size: 1em;
      line-height: 1em;
    }
  }

	#content {
		max-width: 32em;
		min-width: 0;
	}

	.pithy {
		width: 100% !important;
	}

	article {
    aside {
      float: none;
      width: 100% !important;
      margin-left: inherit !important;
      margin-right: inherit !important;
      &.aboutbox {
        border: none;
        background-color: inherit;
      }
    }
    img {
      margin-left: -0.707em;
      margin-right: 0.707em;
      max-width: 50% !important;
      max-height: 50% !important;
    }
    img.right {
      margin-left: 0.707em;
      margin-right: -0.707em;
    }
  }

  footer {
    text-align: left;
    p.share {
      float: none;
      margin: inherit;
      span a {
        margin-left: 0.25em;
      }
    }
  }

}
